section {
	width: 100%;
	}

section #pjt_wrap {
	margin: 20px 0;
	
	} 

section #pjt_wrap .word {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #1d79bf;
	padding: 10px 0;
	font-weight: bolder;
	}

section #pjt_wrap .pjt_list_date_write {
	text-align: center;
	margin-top: 30px;
	
}

section #pjt_wrap .pjt_list_date_write select {
	padding: 7px 15px;
	margin-left: 30px;
	text-align: right;
	border: 0;
	border-bottom: 1px solid #ccc;
	}

section #pjt_wrap .pjt_list_date_write a.pjt_write {
	padding: 5px 10px;
	background-color: #2a8ce8;
	color: #fff;
	font-weight: bolder;
	margin-left: 60px;
	border-radius: 5px;
	}

section #pjt_wrap .pjt_list_date_write a.pjt_write:hover {
	
	
	background-color: #45a1f7;
	}
	
section #pjt_wrap .pjt_date {
	width: 1600px;
	height: 60px;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	
	}

section #pjt_wrap .pjt_date ul {
	width: 100%;
	line-height: 40px;
	border-collapse: collapse;
	margin-bottom: 3px;
	list-style: none;
	display: flex;
	
	}

section #pjt_wrap .pjt_date ul li {
	width: 310px;
	border-radius: 20px;
	margin-right: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	
	}
	
section #pjt_wrap .pjt_date ul li div.top{
	margin: 0;
	font-size: 0.9em;
	font-weight: bolder;
	color: #2a8ce8;
	border-bottom: 2.2px solid #ccc;
}

section #pjt_wrap .pjt_date ul li p.date{
	margin: 10px 0 0 0;
	font-size: 1.4em;
	font-weight: bolder;
	position: relative;
	top: 13px;
	color: #666666;
}
section #pjt_wrap .pjt_date ul li p.date2{
	margin: 0;
	position: relative;
	font-size: 0.8em;
	
}
section #pjt_wrap .pjt_date ul li div.detail_bot{
	height: 30px;
	background-color: rgba(69, 161, 247, 0.75);
	border-radius: 0 0 20px 20px;
}


/* DETAIL VIEW START */
#pjt_detail_wrap {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	
}

#pjt_detail_wrap2 {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	
}

#pjt_detail_wrap2 div.pjt_regist{
	width: 500px;
	height:450px;
	position: fixed;
	top: 160px;
	left: 50%;
	border-radius: 10px;
    transform: translate(-50%, 0);
	background-color: rgba(255, 255, 255, .9);
	
}

#pjt_detail_wrap2 div.pjt_regist .detail_word{
	text-align: center;
}

#pjt_detail_wrap2 div.pjt_regist .regist{
	width: 400px;
	position: fixed;
	top: 50px;
	left: 50%;
    transform: translate(-50%, 0);
    
}

#pjt_detail_wrap2 div.pjt_regist .regist div{
	height: 50px;
	line-height: 50px;
	border: 1px solid #ccc;
	
}
#pjt_detail_wrap2 div.pjt_regist .regist div span{
	margin: 0;
	margin-left: 10px;
	
}
#pjt_detail_wrap2 div.pjt_regist .regist input[tpye="button"],
#pjt_detail_wrap2 div.pjt_regist .regist input[tpye="reset"]{
	
}

#pjt_detail_wrap > div.write_date {
	width: 1000px;
	margin: 50px auto 0;
	text-align: center;
	
	} 
	
#pjt_detail_wrap2 > div.write_img {
	width: 1000px;
	margin: 50px auto 0;
	text-align: center;
	}
#pjt_detail_wrap2 > div.write_img td input:focus {
	outline: none;
}
	
#pjt_detail_wrap2 > div.write_img td input[name="pjt_title"] {
	
}

